<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | Fashioned for Him</title>
        
        <style>
            
        </style>
    </head>
    <body>
        <h1>Welcome to your Dashboard!</h1>
        <%= link_to 'New Blog Post', new_article_path %>
    </body>
</html>
