<!DOCTYPE html>
<html>
    <head>
        <title>Blog | Fashioned For Him</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .container {
                float: center;
                width: 100%;
                max-height: 50%;
                padding-top: 50px;
                padding-bottom: 50%;
            }
            
            body, html {
                height: 100%;
                margin: 0;
            }
            
            .bg {
                /* The image used */
                background-image: url('http://cdn.pcwallart.com/images/sunset-mountain-landscapes-wallpaper-4.jpg');

                /* Full height */
                height: 100%; 

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .w3-quarter {
                width: 400px;
                height: 50%;
                padding: 20px;
            }
        </style>
    </head>
    
    <body>
        
        <div class="bg"><p style="font-size: 500%; text-align: center; padding-top: 35%; color: white">Blog</p></div>
        
        <div class="container">
            <!--<h1 style="color: #7a7a7a; font-family: Titillium Web; font-size: 350%; text-align: center">Welcome to <em>Fashioned For Him!</em></h1>-->
            <!--<h1 style="font-size: 350%; text-align: center; float: center;">Recent Blog <em>Posts</em></h1>
            <br><br>-->
            <!--<table>-->
                
                <% @articles.reverse.each do |article| %>
                    <div class="w3-quarter">
                        <div class="panel panel-default" style="width: 300px; min-height: 300px;">
                          <!--<img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">-->
                          <div class="panel-heading">
                              <h3><%= article.title %></h3>
                              <p class="w3-opacity">Miriam Groff  ~  Comments <span class="w3-badge"><%= article.comments.count %></span> </p>
                          </div>
                          <div class="panel-body">
                              <p><%= article.text.first(250) %> ...</p>
                              <%= link_to 'Read More →', article_path(article) %>
                          </div>
                        </div>
                    </div>
                <% end %>
            </table>
        </div>
    </body>
</html>