<!DOCTYPE html>
<html>
    <head>
        <title>Blog | Fashioned For Him</title>
    </head>
    
    <body>
        
        <div class="bg"><p style="font-size: 500%; text-align: center; padding-top: 18%; color: white">Blog</p></div>
        
        <div class="container">
            <h1 style="font-size: 350%; text-align: center">Recent Blog <em>Posts</em></h1>

            <%= link_to 'New Article', new_article_path %>
            
            <table>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                    <th colspan="2"></th>
                </tr>
                
                <% @articles.each do |article| %>
                    <tr>
                        <div class="well">
                            <td><%= article.title %></td>
                            <td><%= article.text %></td>
                            <td><%= link_to 'Show', article_path(article) %></td>
                        </div>
                    </tr>
                <% end %>
            </table>
        </div>
    </body>
</html>