<!DOCTYPE html>
<html>
    <head>
        <!--The code below is for Google Analytics-->
    <script>
     
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98295333-1', 'auto');
          ga('send', 'pageview');

          </script>
        <title>Home | Fashioned For Him</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          
        <style>
                .container {
                    width: 100%;
                    max-height: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                
                body, html {
                    height: 100%;
                    margin: 0;
                }
                
                .bg {
                    
                    /* The image used */
                    /*background-image: url('https://lh3.googleusercontent.com/I8vaSeBPlBPeo7WQ3TKA7fUXZ8sBAZSHpOEaJeHt953rGIbjsN9TTu90Yzee4MSr3ugHpwNTmv83KNbhrjq1ZwyYrqGfDhqkYICElK55eLqJ_k2Ms61TgRz12QQfjB747zz0Lsdj2edqxquPW3taoMs5CCUgB66Vq2Gpanhr9zqiz6Lapywtw-Ry4O5GJ2Uq6KXl-eLjCSZiPBp7ebzDWcis3hPSWSD51nODcGTq0wyZIcZqjDfI_TGnWaFxbmNqluQSk50w3X3Qv0tXfxe2atq3DOZ2az2bwPjV8j4yRyOd8xyTBrBzKJKjgT7KLFZKaRikeSAOcdNKDhz8ejzNBJtCSUsr5sN_gBiJCll5vy5hLvnEeESQn-zzTxY5UiuFnPxsw0OHevDNNqHupaJ7GYIzuR1V_r5hB-RgzZ4YvAuacrO6UZlfuSp0SudtV-_8YryVEEohf8u9RrbyQlVmAJup22KiA_o9a9a0JEpoWBY4YazXExvgNpvbV3uAWUvBQZ0lf8qie2uRT49dODuNbF16Rt2EX5aBFBtV5nWvIfMGkLSAr4fiEuUmZshpE1wVjoy8FngJMv3by7Bo1PiTo8vRGmxpd4bf8o5XH3jW0MYvBWkht8wz-meP=w1208-h679-no');
                    
                    /* Full height */
                    /*height: 100%;
                    max-height: 2000px;
    
                    /* Center and scale the image nicely */
                    /*background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    */
                    background-size: cover;
                    background-repeat: no-repeat;
                    float: left;
                    margin:0 0 30px 0;
                    padding: 5px 0 0 0 ;
                    width: 100%;
                    background-image:url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/2031/2031377-bigthumbnail.jpg');
                
                .btn:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                background-color: #ff8798;
                }
                .btn:focus,
                .btn:active,
                .btn {
                  background-color: #ff9eac;
                  border: none;
                }
                .label, .label-btn {
                    background-color: #ff9eac;
                }                    
                
                                    
                }
                h1, h2, h3, h4, h5 {
                    font-family: "Great Vibes";
                }
                
                p {
                    font-family: 'Dosis'
                }
                
                .bio-recent-blog {
                    color: #ff9eac;
                }
        </style>
        
    </head>
    
    <body>
        <div class="bg">
            <h2 class="w3-wide" style="font-size: 400%; text-align: center; padding: 20px;
            padding-top: 20%; color: black; min-padding: 30px; padding-top: 20%; padding-bottom: 30%; font-family: Great Vibes">Fashioned For Him</h2>
        </div>
        
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide" style="font-family: Great Vibes">Welcome to Fashioned For Him</h2><br>
            <p class="w3-justify"><i>Hi! 
Welcome to Fashioned for Him! I'm Miriam and a stay at home 
mommy delighting in the warmth of faith and family! I love that
my Heavenly Daddy is a King! Being a sweetheart wife to my handsome 
Prince and also a mommy are delightful to me! I spend my days 
relishing our precious family, creating cozy spaces in our home, and 
whipping up delicious and nutritious meals and fun snacks! My 
sweetheart and I love sharing hope and teaming up with other moms 
and dads in growing successful businesses from home! Every day is a 
gift. I treasure the minutes and remind myself they are as pearls 
to be protected and lived out with purpose. Thanks for visiting and
hope you'll keep popping in! To read my latest blog post, click <%= link_to 'here', article_path(@article), class: 'bio-recent-blog' %>!</i></p>
          </div>
        
        
        <!--fOOTER-->
          <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
              <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                <h2 class="w3-wide w3-center"><img src="https://lh3.googleusercontent.com/YpdGxVNc09vAlGSfY7hmkUGS3uFVzEyhk9US2dGE0DPkvg3bHTCsK6MgjkHLGzaX7HSUB9W-NtOVqmYB_1o1NlvHNiSaeFfwRK6cvvg5GGZ8WAQMtpn5Z-nPWburTOJdsdUbHHXyZomwa8vNQfi2fJ7SRcjQhouHJ-JeKmxhQUOoKBDSWRORyAoxWVWuIahOORZirsEFNn5JsQiqrk6vLND4J2oGSWLkGxKIY502S6n1SCwPmLZY5CiYjZxXcFwaFsNxJIeT0f0LeH8ZY8ULH125fraRdt4NQQhmQETnZjQy_mv8h--VaFBdaqCOkC8f9L0Yht6l5sT7UeN-OSZ1rMDQh2a_D4pE3NEImOiqh7N5WsbLFKwbnOcK_x14ex6NgOdAYo-DrNO0OcgYANtMKd1EdKcZyd5rRV8huViPctGyiIWUP038C2yxw2XVBZhIDPNIyvJQ6uta2vBR4FPGTwTIGGqRjHXQ8y5sW1JaWtFQqPLOvbEtsdwh7ATbKi3VDluBcnYvmqnfmPtdlzjaluOqfXjGVmL9nSTO0EDRnhNaiDBwx56JNnIwGq4StrMtuodISj_W_0Oe5F1tJ7fL48gcmHXd1G4NY9Jw6iJbYT8gbHCjtpvVSBuo=w734-h496-no" class="img-circle" alt="Miriam Groff" width="300" height="236"></h2>
                <p class="w3-opacity w3-center"><i>Connect with me on email or social media!</i></p>
                <div class="w3-row w3-padding-32">
                    <i class="fa fa-map-marker" style="width:30px;"></i> Colorado, USA<br>
                    <a href="mailto:fashionedforhim40@gmail.com"><i class="fa fa-envelope w3-hover-text-blue" style="padding: 10px"> </i></a>
                    <a href="https://www.facebook.com/faithfamilyhomefriendships/"><i class="fa fa-facebook-official w3-hover-text-indigo" style="padding: 10px"></i></a>
                    <a href="https://www.instagram.com/miriamgroff/"><i class="fa fa-instagram w3-hover-text-purple" style="padding: 10px"></i></a>
                    <a href="https://www.pinterest.com/offferhimpraz/"><i class="fa fa-pinterest-p w3-hover-text-red" style="padding: 10px"></i></a>
                  </div>
              </div>
          </footer>
          <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-black w3-xlarge">
              <p class="w3-medium">© 2017 <a href="https://github.com/Michael14HelloWorld">Michael Groff</a></p>
          </footer>
    </body>
</html>