<!DOCTYPE html>
<html>
    <head>
        <title>Fashioned For Him</title>
    </head>
    
    <body>
        <h1 style="text-align: center">Welcome to Fashioned for Him</h1>
        
    </body>
</html>