<!DOCTYPE html>
<html>
    <head>
        <title>Home | Fashioned For Him</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
        <link rel='stylesheet' type='text/css' href='welcome/style'>

        
    </head>
    
    <body>
        
        <div class="bg"><p style="font-size: 500%; text-align: center; padding-top: 18%; color: white">Fashioned For Him</p></div>
        
        <div class="container">
            <h1 style="color: #7a7a7a; font-family: Titillium Web; font-size: 350%; text-align: center">Welcome to <em>Fashioned For Him!</em></h1><br><br>
            <p style="text-align: center; padding-left: 50px; padding-right: 50px;">I am a full time sweetheart and mama and a Plexus Ambassador. :) I work in our cozy home, surrounded by our sweet kiddos!! These natural products 
            are plant based. Our affectionate pink drink aka Plexus Slim is sweetened with Stevia. It is known to balance blood sugar, lipids, and cholesterol. 
            It is also taking away those sugar cravings. A natural and healthy way to lose weight, by burning fat and not muscle. Plexus Slim along with some of 
            the amazing other products has also assisted in optimal health and weight gain for those who needed that as well. The Triplex which includes, Plexus 
            Slim, Pro Bio 5, and the Bio Cleanse are changing my life!! As a result of gut health and blood sugar being balanced naturally, I have so much all day 
            energy and am also losing weight! :) Please feel free to contact me at pureterra15@gmail.com or visit my website and it would be my delight to assist
            you toward better health and pure quality living! You can also follow me on FaceBook and I am happy to answer any of your questions!</p>
        </div>
    </body>
</html>