<!DOCTYPE html>
<html>
    <head>
        <!--The code below is for Google Analytics-->
    <script>
     
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98295333-1', 'auto');
          ga('send', 'pageview');

          </script>
        <title>Home | Fashioned For Him</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
        <link rel='stylesheet' type='text/css' href='welcome/style'>
        
          
        <style>
                .container {
                    width: 100%;
                    max-height: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                
                body, html {
                    height: 100%;
                    margin: 0;
                }
                
                .bg {
                    /* The image used */
                    background-image: url('http://3.bp.blogspot.com/-pSWrARtCXmU/Vbmm-5qqmFI/AAAAAAAAVo0/F9RgWu_R2YU/s1600/great-nature-wallpapers-free-widescreen-2-hd-wallpapers.jpg');
                    
                    /* Full height */
                    height: 100%;
                    max-height: 2000px;
    
                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
        </style>
        
    </head>
    
    <body>
        <div class="bg">
            <h2 class="w3-wide" style="font-size: 400%; text-align: center; 
            padding-top: 20%; color: white; min-padding: 30px; min-padding-top: 30%">Fashioned For Him</h2>
        </div>
        
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">Welcome to Fashioned For Him</h2>
            <!--<p class="w3-opacity"><i>We love music</i></p>--><br>
            <p class="w3-justify">I am a full time sweetheart and mama and a Plexus Ambassador. :) I work in our cozy home, surrounded by our sweet kiddos!! These natural products 
            are plant based. Our affectionate pink drink aka Plexus Slim is sweetened with Stevia. It is known to balance blood sugar, lipids, and cholesterol. 
            It is also taking away those sugar cravings. A natural and healthy way to lose weight, by burning fat and not muscle. Plexus Slim along with some of 
            the amazing other products has also assisted in optimal health and weight gain for those who needed that as well. The Triplex which includes, Plexus 
            Slim, Pro Bio 5, and the Bio Cleanse are changing my life!! As a result of gut health and blood sugar being balanced naturally, I have so much all day 
            energy and am also losing weight! :) Please feel free to contact me at pureterra15@gmail.com or visit my website and it would be my delight to assist
            you toward better health and pure quality living! You can also follow me on FaceBook and I am happy to answer any of your questions!</p>
          </div>
        
        
        <!--fOOTER-->
          <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
              <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                <h2 class="w3-wide w3-center"><img src="https://lh3.googleusercontent.com/YpdGxVNc09vAlGSfY7hmkUGS3uFVzEyhk9US2dGE0DPkvg3bHTCsK6MgjkHLGzaX7HSUB9W-NtOVqmYB_1o1NlvHNiSaeFfwRK6cvvg5GGZ8WAQMtpn5Z-nPWburTOJdsdUbHHXyZomwa8vNQfi2fJ7SRcjQhouHJ-JeKmxhQUOoKBDSWRORyAoxWVWuIahOORZirsEFNn5JsQiqrk6vLND4J2oGSWLkGxKIY502S6n1SCwPmLZY5CiYjZxXcFwaFsNxJIeT0f0LeH8ZY8ULH125fraRdt4NQQhmQETnZjQy_mv8h--VaFBdaqCOkC8f9L0Yht6l5sT7UeN-OSZ1rMDQh2a_D4pE3NEImOiqh7N5WsbLFKwbnOcK_x14ex6NgOdAYo-DrNO0OcgYANtMKd1EdKcZyd5rRV8huViPctGyiIWUP038C2yxw2XVBZhIDPNIyvJQ6uta2vBR4FPGTwTIGGqRjHXQ8y5sW1JaWtFQqPLOvbEtsdwh7ATbKi3VDluBcnYvmqnfmPtdlzjaluOqfXjGVmL9nSTO0EDRnhNaiDBwx56JNnIwGq4StrMtuodISj_W_0Oe5F1tJ7fL48gcmHXd1G4NY9Jw6iJbYT8gbHCjtpvVSBuo=w734-h496-no" class="img-circle" alt="Miriam Groff" width="300" height="236"></h2>
                <p class="w3-opacity w3-center"><i>Connect with me on email or social media!</i></p>
                <div class="w3-row w3-padding-32">
                    <i class="fa fa-map-marker" style="width:30px;"></i> Colorado, USA<br>
                    <i class="fa fa-envelope w3-hover-text-blue" style="padding: 10px"> </i> 
                    <i class="fa fa-facebook-official w3-hover-text-indigo" style="padding: 10px"></i>
                    <i class="fa fa-instagram w3-hover-text-purple" style="padding: 10px"></i>
                    <i class="fa fa-pinterest-p w3-hover-text-red" style="padding: 10px"></i>
                  </div>
              </div>
          </footer>
          <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-black w3-xlarge">
              <p class="w3-medium">© 2017 <a href="https://github.com/Michael14HelloWorld">Michael Groff</a></p>
          </footer>
          
    </body>
</html>