ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100px;
}

li {
    float: left;
    height: 20%;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {color: #70000d; text-decoration: none;}
a:active {color: #70000d; text-decoration: none;}
a:visited {color: white; text-decoration: none;}