ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7a7a7a;
    height: 80px;
    font-family: Courier New;
}

li {
    display: inline;
    float: left;
    height: 15%;
    padding-top: 31px;
    font-size: 120%;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {color: red; text-decoration: none;}
a:active {color: red; text-decoration: none;}
a:visited {color: white; text-decoration: none;}