<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="UxBLAaYOFU-vep0OvyXai0dcje_tJZkUBDfqUYMxC2U" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--Stylesheet for Font Awesome-->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!--Stylesheet for fonts."-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <%= google_webfonts_init({
    google: ['Great Vibes', 'Dosis']
  }) %>
  
  <style>
  </style>
</head>

<body>
  
  <div class="w3-top">
    <div class="w3-bar w3-white" style="border-bottom: .5px solid #f2f2f2">
      <!--<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="#" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>-->
      <a href="/" class="w3-bar-item w3-padding-large" style="font-family: Great Vibes; font-size: 175%; text-decoration: none">Fashioned For Him</a>
      <a href="/articles" class="w3-bar-item w3-padding-large" style="float: right; font-family: Great Vibes; font-size: 175%; text-decoration: none">Blog</a>
      
    </div>
  </div>
  <hr>
  <%= yield %>
  
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->
  <% render 'layouts/foot' %>
</body>
</html>
