<!DOCTYPE html>
<html>
<head>
  <!--Bootstrap Style sheet-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Stylesheet found in app/assets/stylesheets/template.css.scss-->
  <link rel="stylesheet" type="text/css" href="nav.css">
  <!--Stylesheet for Font Awesome-->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!--Stylesheet for fonts."-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  
</head>

<body>

  <nav class="navbar-fixed-top">
      <ul>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://fashionedforhimblog-bgmichael00.c9users.io/" style="font-size: 175%; padding-top: 28px">Fashioned For Him</a>
          </div>
          <li style="float:right"><a class="active" href="#about">About</a></li>
          <li style="float:right"><a href="#contact">Contact</a></li>
          <!--There is no controller for this link yet.-->
          <li style="float: right"><a href="#">Plexus</a></li>
          <li style="float: right"><a href="https://fashionedforhimblog-bgmichael00.c9users.io/recipes/index">Recipes</a></li>
          <li style="float:right"><a href="https://fashionedforhimblog-bgmichael00.c9users.io/articles">Blog</a></li>
      </ul>
  </nav>
  
  <%= yield %>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'layouts/foot' %>

</body>
</html>
